/* Main Style */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0%;
    background-color: #B3E8E5;
}

h2,
h3 {
    color: black;
}

p {
    text-indent: 2cm;
    font-family: sans-serif;
    text-align: justify;
}

#letter-spacing {
    letter-spacing: 4px;
}

.card {
    box-shadow: 0 4px 8px 0 #2F8F9D;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

/* header Style */
/* navbar style */
nav {
    background-color: #2F8F9D;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #82DBD8;
}

nav ul li a:hover {
    font-weight: bold;
    color: #ffffff;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

/* Images Style*/

.featured-image {
    width: 150px;
    max-height: 150px;
    object-fit: cover;
    object-position: center;
    transition: tranform .2s;
    border-radius: 5px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.featured-image:hover {
    transform: scale(1.2);
}

html {
    scroll-behavior: smooth;
}

/* Main Style */
main {
    padding: 20px;
    overflow: auto;

}

#content {
    float: left;
    width: 70%;
}

/* Profile using Aside Style */

aside {
    float: right;
    width: 30%;
    padding: 10px;
}

aside h2,
aside h3,
aside figcaption,
aside p {
    text-align: center;
}

aside tr td{
    text-align: justify;
}

/* Responsive style */
@media screen and (max-width: 100px) {
    .content,
    aside{
        width: 100%;
        padding: 0;
    }
}

/* text animation */

/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2F8F9D;
    overflow: hidden;
    box-sizing: border-box;
    padding: 60px;
    width: auto;
    height: auto;
    overflow: hidden;
}
.container .text{
    position: relative;
    color: #B3E8E5;
    font-size: 30px;
    font-weight: 600;
}
.container .text.first-text{
    color: #ffffff;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2F8F9D;
    border-left: 2px solid #2F8F9D;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

/* foooter */
footer nav{
    background-color: #3BACB6;
}

footer nav p{
    color: white;
    text-align: center;
    font-style: inherit;
}